<ion-header>
  <ion-toolbar>
    <ion-title>Person Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goFavourites()" aria-label="Favourites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button (click)="goHome()" aria-label="Home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (errorMsg) {
    <p class="ion-text-center ion-margin-top">{{ errorMsg }}</p>
  }

  @if (isLoading) {
    <ion-spinner name="crescent"></ion-spinner>
  }

  @if (!isLoading && !errorMsg && details) {
    <div>
      <h2 class="ion-margin-top">Overview</h2>
      <p>{{ details.name }}</p>

      <div>
        @if (tmdb.profileUrl(details.profile_path)) {
          <img
            [src]="tmdb.profileUrl(details.profile_path)!"
            alt="Person image"
            style="max-width: 200px;"
          />
        } @else {
          <p>No image</p>
        }
      </div>

      @if (details.birthday) {
        <p>DOB: {{ details.birthday }}</p>
      }

      @if (details.deathday) {
        <p>DOD: {{ details.deathday }}</p>
      }

      @if (details.also_known_as.length) {
        <p>
          AKA: {{ details.also_known_as.join(', ') }}
        </p>
      }

      @if (details.place_of_birth) {
        <p>Place of birth: {{ details.place_of_birth }}</p>
      }

      <h3 class="ion-margin-top">Description</h3>

      @if (details.biography) {
        <p>{{ details.biography }}</p>
      } @else {
        <p>No biography available.</p>
      }

      <h3 class="ion-margin-top">Other Movies</h3>

      <ion-list>
        <ion-item *ngFor="let m of otherMovies">
          <ion-thumbnail slot="start">
            @if (tmdb.posterUrl(m.poster_path)) {
              <img [src]="tmdb.posterUrl(m.poster_path)!" />
            } @else {
              <p>No image</p>
            }
          </ion-thumbnail>

          <ion-label>
            <div>{{ m.title }}</div>
            <ion-button size="small" (click)="openMovie(m.id)">
              Details
            </ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  }
</ion-content>