<ion-header>
  <ion-toolbar>
    <ion-title>Person Details</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goFavourites()" aria-label="Favourites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button (click)="goHome()" aria-label="Home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="errorMsg" class="ion-text-center ion-margin-top">{{ errorMsg }}</p>

  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <div *ngIf="!isLoading && !errorMsg && details">
    <h2>{{ details.name }}</h2>

    <div>
      <img
        *ngIf="tmdb.profileUrl(details.profile_path); else noImg"
        [src]="tmdb.profileUrl(details.profile_path)!"
        alt="Person image"
        style="max-width: 200px;"
      />
      <ng-template #noImg><p>No image</p></ng-template>
    </div>

    <p *ngIf="details.birthday">DOB: {{ details.birthday }}</p>
    <p *ngIf="details.deathday">DOD: {{ details.deathday }}</p>
    <p *ngIf="details.also_known_as?.length">
      AKA: {{ details.also_known_as.join(', ') }}
    </p>

    <p *ngIf="details.place_of_birth">Place of birth: {{ details.place_of_birth }}</p>

    <h3 class="ion-margin-top">Description</h3>
    <p *ngIf="details.biography">{{ details.biography }}</p>
    <p *ngIf="!details.biography">No biography available.</p>

    <h3 class="ion-margin-top">Other Movies</h3>
    <ion-list>
      <ion-item *ngFor="let m of otherMovies">
        <ion-thumbnail slot="start">
          <ng-container *ngIf="tmdb.posterUrl(m.poster_path); else noPoster">
            <img [src]="tmdb.posterUrl(m.poster_path)!" />
          </ng-container>
          <ng-template #noPoster><p>No image</p></ng-template>
        </ion-thumbnail>

        <ion-label>
          <div>{{ m.title }}</div>
          <ion-button size="small" (click)="openMovie(m.id)">
            Details
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>