<ion-header>
  <ion-toolbar>
    <ion-title>Favourites</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goHome()" aria-label="Home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="errorMsg" class="ion-text-center ion-margin-top">{{ errorMsg }}</p>
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <ion-list *ngIf="!isLoading && !errorMsg">
    <ion-item *ngFor="let m of favourites">
      <ion-thumbnail slot="start">
        <ng-container *ngIf="tmdb.posterUrl(m.poster_path); else noPoster">
          <img [src]="tmdb.posterUrl(m.poster_path)!" />
        </ng-container>
        <ng-template #noPoster><p>No image</p></ng-template>
      </ion-thumbnail>

      <ion-label>
        <div>{{ m.title }}</div>
        <ion-button size="small" (click)="openMovie(m.id)">
          Details
        </ion-button>
      </ion-label>
    </ion-item>

    <p *ngIf="favourites.length === 0" class="ion-text-center ion-margin-top">
      No favourites yet.
    </p>
  </ion-list>
</ion-content>