<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-button (click)="backToTrending()" aria-label="Home">
       <ion-icon name="home"></ion-icon>
     </ion-button>
    </ion-buttons>

    <ion-title>{{ studentId }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToFavourites()" aria-label="Favourites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" class="search-box">
    <ion-input
      [(ngModel)]="searchQuery"
      placeholder="Search movies"
      (ionFocus)="onSearchBoxFocus()"
      (ionBlur)="onSearchBoxBlur()"
      (ionInput)="onSearchInput()"
    ></ion-input>
  
    <ion-button (click)="onSearch()">Search</ion-button>
  
    <div
  class="recent-dropdown"
  *ngIf="showRecentSearchDropdown && (filteredRecentSearches.length > 0 || recentSearches.length === 0)"
>
  <div class="recent-title">Recent Searches</div>

  <!-- Clear button -->
  <ion-button
    fill="clear"
    size="small"
    (click)="clearSearchHistory()"
    [disabled]="recentSearches.length === 0"
  >
    Clear search history
  </ion-button>

  <!-- No recent searches message -->
  <div *ngIf="recentSearches.length === 0" class="ion-padding">
    No recent searches.
  </div>

  <!-- List when available -->
  <ion-list *ngIf="filteredRecentSearches.length > 0">
    <ion-item
      button
      *ngFor="let q of filteredRecentSearches"
      (click)="useSearchSuggestion(q)"
    >
      {{ q }}
    </ion-item>
  </ion-list>
</div>
  </ion-item>

  <h2 class="ion-margin-top" *ngIf="!showingSearchResults && recentMovies.length > 0">
    Recently viewed
  </h2>
  
  <ion-list *ngIf="!showingSearchResults && recentMovies.length > 0 && !isLoading">
    <ion-item button *ngFor="let m of recentMovies" (click)="openMovie(m.id)">
      <ion-thumbnail slot="start">
        <img *ngIf="posterUrl(m.poster_path)" [src]="posterUrl(m.poster_path)" />
      </ion-thumbnail>
      <ion-label>
        <h3>{{ m.title }}</h3>
        <p>{{ m.overview }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <h2 class="ion-margin-top" *ngIf="!showingSearchResults">
    Today&apos;s Trending Movies
  </h2>
  
  <h2 class="ion-margin-top" *ngIf="showingSearchResults">
    Movies matching: {{ lastSearchQuery }}
  </h2>

  <ion-list *ngIf="!isLoading">
    <ion-item button *ngFor="let m of movies" (click)="openMovie(m.id)">
      <ion-thumbnail slot="start">
        <img *ngIf="posterUrl(m.poster_path)" [src]="posterUrl(m.poster_path)" />
      </ion-thumbnail>

      <ion-label>
        <h3> {{ m.title }}</h3>
        <p>{{ m.overview }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-margin-top" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <p class="ion-text-center ion-margin-top" *ngIf="errorMsg">
    {{ errorMsg }}
  </p>
</ion-content>